.event-action-container {
  padding : 10px;

  .event-action-item {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 5px;
    margin: 15px;
    cursor: pointer;

    &__info {
      padding : 5px
    }

    &__date {
      display: block;
      padding : 5px
    }
  }
}