<div class="container-fluid">
  <div class="navfixed navfixed__header fixed-top">
    <div>
      <div> Page Header</div>
    </div>
  </div>
  <div class="content-body">
    <div class="main-container" >
      <div class="main-container__columnFixed  main-container__columnFixed__left">
          <postList-filter [postListData]="(postListData$ | async)!" (onSelectItem)="updateSelectItem($event)" (onFilterChange)="updateFilter($event)"></postList-filter>
      </div>
      <div class="main-container__columnFlex">
        <create-postItem (onSavingPost)="updatePostList($event)"></create-postItem>
        <postList-details [postListData]="(postListData$ | async)!" (onDeleting)="deleteItem($event)"></postList-details>
      </div>
      <div class="main-container__columnFixed main-container__columnFixed__right">
        <listEvent></listEvent>
      </div>
    </div>
  </div>
  <div class="navfixed navfixed__footer fixed-bottom">
    <div>
      Page footer
    </div>
  </div>
</div>