.filterListContainer
{
  padding : 10px;

  &__head {
    padding: 5px 0;

    .title {
      font-weight: bold;
      margin: 10px 15px;
    }

    input {
      margin: 10px 15px;
      width:  calc(100% - 35px);
    }
  }

  .itemPost {
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 0;
    margin: 15px;
    cursor: pointer;
    
    &__selected {
      border-color: red;
    }
  }
  
}